@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

.background {
  width: 100%;
  height: 100vh;
  background-color: #0d192c;
  padding-top: 152px;
}

.page {
  width: 302px;
  height: 596px;
  margin: auto;
  padding: 24px 24px 0 24px;
  border-radius: 15px;
  background-color: #15263f;
  font-family: "Outfit", sans-serif;
}

/*********************  HEADER  ********************/

header {
  width: 302px;
  height: 302px;
}

.img-container {
  width: 302px;
  display: flex;
  align-items: center;
}

.nft {
  width: 302px;
  height: 302px;
  border-radius: 8px;
}

.eye {
  width: 302px;
  height: 302px;
  border-radius: 8px;
  opacity: 0;
  background-color: hsl(178, 100%, 50%, 50%);
  position: absolute;
}

.eye:hover {
  opacity: 1;
  cursor: pointer;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon:hover {
  cursor: pointer;
  opacity: 1;
}

/****************  MAIN  ******************/

main {
  display: flex;
  flex-direction: column;
}

.capital-letter {
  width: 302px;
  height: 28px;
  margin-top: 24px;
  margin-bottom: 16px;
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}

.link {
  color: #00fff8;
}

.text {
  width: 302px;
  height: 52px;
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #8bacd9;
}

.currency {
  margin-top: 24px;
  width: 302px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  height: 20px;
  width: 93px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #00fff8;
}

.time {
  height: 20px;
  width: 93px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #8bacd9;
}

/*************** FOOTER *****************/

.line {
  width: 302px;
  height: 1px;
  display: flex;
  background-color: #8bacd9;
  margin-top: 24px;
  margin-bottom: 16px;
}

.avatar {
  width: 33px;
  height: 33px;
  border: 1px solid white;
  border-radius: 50%;
}

.down-side {
  width: 230px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #8bacd9;
}

.name a {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #00fff8;
}
